<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

<title>Wings</title>
</head>
<body>

<header th:insert="fragments/page_header::pageHeader"></header>

<main>

	<div class="container">
		<h2>マイページ</h2>
		
		<table class="myPage">
			<tr>
				<th>氏名</th>
					<td th:text="${userList.familyName} + ' ' + ${userList.firstName}"></td>
			</tr>
			<tr>
				<th>氏名ふりがな</th>
					<td th:text="${userList.familyNameKana} + ' ' + ${userList.firstNameKana}"></td>
			</tr>
			<tr>
				<th>性別</th>
					<td>
						<th:block th:if="${userList.gender} == 0">男性</th:block>
						<th:block th:if="${userList.gender} == 1">女性</th:block>
				  	</td>
			</tr>
			<tr>
				<th>ユーザー名<br /><span class="note">（メールアドレス）</span></th>
					<td th:text="${userList.userName}"></td>
			</tr>
			<tr>
				<th>パスワード</th>
					<td>
						<span class="password"></span><a href="#" class="resetPassword">再設定</a>
						<input type="hidden" id="hiddenPassword" th:value=${userList.password} />
				  	</td>
			</tr>
			<tr>
				<th class="buttonArea">
				</th>
				<th class="buttonArea">
					<form action="/wings/history/" method="POST">
						<button id="historyButton">購入履歴</button>
					</form>
				</th>
			</tr>
		</table>
	
	</div>
	<!-- Modal Dialog (パスワード再設定) -->
	<div th:insert="fragments/dialog_reset_password::dialogResetPassword"></div>

</main>

<script>
$(() => {
	let password = $('#hiddenPassword').val();
	let asterisk = '';
	for (let i = 0; i < password.length; i++) {
		asterisk += '*';
	}
	$('span.password').text(asterisk);
	$('#resetPassword').dialog(dialogConfig.resetPassword);
	
	$('a.resetPassword').on('click', (e) => {
		$("#resetPassword").dialog("open");
	});
});
</script>

</body>
</html>